*{
    background-color: #010B13;
    color: white;
}
.menu{
    display: flex;
    flex-direction: column;
    width: 20vh;
    height: 100vh;
}
li {
    list-style: none;
    margin-top: 2vh;
    cursor: pointer;
}

.navbarüst {
    margin-left: 3vh;
    display: flex;
    flex-direction: row;
}
.navbar{
    margin-left: 20vh;
    height: 10vh;
    
}
.navbar li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.trendmovies{
  display: flex;
  margin-left: 30vh;
  width: 100vh;
  

}