*{
    background-color: #010B13;
    color: white;
    font-family: 'Fira Sans', sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
  }
.dark{
    background-color: #010B13;
    color: white;
    font-family: 'Fira Sans', sans-serif;
}
.light{
    background-color: bisque;
    color: #010B13;
    font-family: 'Fira Sans', sans-serif;
}
/* bu kısımda soldaki menüyü stillendirdim */
.menu{
    display: flex;
    flex-direction: column;
    width: 20vh;
    height: 100vh;
    float: left;
}
.menu li {
    list-style: none;
    margin-top: 4vh;
    cursor: pointer;
}
/* üstteki navbarın stillendirmesi */
.navbarüst {
    margin-left: 3vh;
    display: flex;
    flex-direction: row;
}
.navbar{
    margin-left: 20vh;
    height: 10vh;    
    position: relative;
    
}
.themee{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 40px;
}
.navbar li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* mainsection sayfasındaki kısımların stilleri */
.movies{
  display: inline-block;
  margin-left: 10vh;
  width: 128vh;
  height: 180vh;
  

}
.trendmovies{
    height: 55vh;
    

}
.toprated{
    height: 60vh;
    
}
.contunie{
    height: 50vh;
}

/* Bu kısımda upcoming moviesteki kutucuğu stillendiriyorum */
.splidebox{
    display: flex;
    width: 110vh;
    height: 50vh;
    
    
}
.splideimage img{
    height:40vh;
    width: 32vh;
    border-radius: 7px;
}

 

.splidetext{
    margin-left: 10vh;
    
}
#tmbuttont{
    width: 150px;
    display: inline-block;
    margin-left: 20px;
    background-color: transparent;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    color: inherit;
    
}
#tmbuttonw:hover {
    background-color: transparent; /* mouse üzerine geldiğindeki background rengi */
  }
#tmbuttonw{
    width: 150px;
    display: inline-block;
    margin-left: 20px;
    background-color: #003262;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    color: inherit;
    
}
#tmbuttont:hover {
    background-color: #003262; /* mouse üzerine geldiğindeki background rengi */
  }
.trsplideimage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;

}
#trsplideimage{
    width: 22vh;
    border-radius: 10px;
    
}
#trsplidebutton{
    width: 130px;
    margin: 15px auto auto auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: transparent; /* varsayılan background rengi */
    color: inherit;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
   
}
#trsplidebutton:hover {
    background-color: #003262; /* mouse üzerine geldiğindeki background rengi */
  }

/* --/En sağdaki column kısım */
.latestmovies{
    float:right;
    padding-right: 50px;
    height: 100vh;
}
#npsplideimage{
    width: 25vh;
    border-radius: 10px;
}
.npsplideimage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}
.random{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px 30px 10px 30px;
}
#randomimage{
    width: 40vh;
}