*{
    background-color: #002147;
    color: white;
}
.menu{
    display: flex;
    flex-direction: column;
    width: 20vh;
    height: max-content;
}
li {
    list-style: none;
    margin-top: 2vh;
}
.navbarüst {
    margin-left: 3vh;
    display: flex;
    flex-direction: row;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}